@font-face {
    font-family: 'Roboto Condensed';
    src: url('Fonts/RobotoCondensed-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 10px; /* Rounded corners */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: rgba(255, 105, 180, 0.6); /* Semi-transparent pink */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid rgba(255, 255, 255, 0.1); /* Border to create a gap effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 105, 180, 0.8); /* Darker pink on hover */
}

h1 {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #210;
    text-align: center;
    margin: 10px;
}

p {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    font-size: 20px; 
    line-height: 1.5; 
    color: #333; 
}

hr {
    background-color: rgba(139, 47, 47, 0.4);
    border-radius: 200px;
    padding: 3px;
    margin: 10px;
    border-color: rgba(0, 0, 0, 0)
}

.random-image {
    max-height: 300px; 
    width: auto;
    display: block;
    margin: 0 auto;
}

.responsive-image {
    max-height: 195px; 
    width: auto;
    display: block;
    margin: 0 auto;
}

.videos {
    flex-wrap: wrap;
    max-height: 266px; 
    width: auto;
}

.box {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
}
.vertical-next {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 0px;
    display: inline-block;
    margin: 0px;
}

.fits {
    display: inline-block;
}

body {
    background: url('Images/Background.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}
